services:
  app:
    build:
      dockerfile: Dockerfile
    healthcheck:
      test: [CMD-SHELL, 'wget --no-verbose --tries=1 --spider http://127.0.0.1:3000 || exit 1']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
